/* Color Palette: https://colorhunt.co/palette/142677 */
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #eaeaea;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #eaeaea;
  font-weight: normal;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #00d1cd;
  padding-bottom: 1%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #00d1cd;
}

a {
  color: #00d1cd;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: dotted #00d1cd 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.contact-me {
  width: 70%;
  margin: 40px auto 60px;
}

.bio {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.tagline {
  color: #eaeaea;
}

.icon_1 {
  height: 22.5%;
  width: 22.5%;
  float: left;
  margin-right: 2%;
}

.icon_2 {
  height: 22.5%;
  width: 22.5%;
  float: right;
  margin-left: 2%;
}

.profile_pic {
  height: 10.5%;
  width: 10.5%;
  border-radius: 100px;
}

.top_container {
  background-color: #444444;
  padding-top: 100px;
  position: relative;
}

.mid_container {
  background-color: #eaeaea;
  margin: 100px 0;
}

.bottom_container{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #444444;
  color: #eaeaea;;
}

.title_top {
margin-top: 0;
}

.pro {
  text-decoration: underline;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  right: 300px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.contributions {
  font-size: 10px;
}

.myButton {
	background-color:#00d1cd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #00d1cd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00d1cd;
}
.myButton:hover {
	background-color:##00d1cd;
}
.myButton:active {
	position:relative;
	top:1px;
}
